## 1. 파이썬, 주피터노트북과 친해지기 
### 1-1 주피터 노트북 간단 사용법
- 파일 이름 바꾸기
- File -> Save as로 사본 저장하기
- +버튼을 눌러 셀 추가하고 가위로 오려내기
- 위, 아래 화살표키로 셀 위치 이동
- Markdown (텍스트 설명)과 Code (Python3 실행) 선택
- 셀에서 "Run" 클릭하여 결과를 확인할 수 있다. 
- 자주쓰는 단축키를 사용하면 아주 편리!
    - shift+Enter를 누르면 셀 실행 후 아래 셀로 이동하고 ctrl+Enter를 누르면 셀 위치에서 실행하고 alt+Enter는 실행 후 셀이 추가된다.
    - ESC 키를 누르고 (cell이 녹색에서 파란색으로 바뀜) 
        - a키를 누르면 위에 셀이 추가되고,  b키를 누르면 아래에 셀이 추가되고 
        - d를 (빠르게) 두번 누르면 셀이 삭제된다.

#### [실습1] 아래 Code셀에 1,2, 1+2, 1-2, 1*2, 1/2를 차례로 입력하고 실행하세요.
- 힌트: 입력후 Shift-Enter키를 눌러보세요. +버튼을 눌러 셀을 추가할 수 있어요.
    - 또는 alt + Enter키를 눌러보세요.

In [11]:
5%2

1

#### [실습2] 이번에는 a, 안녕하세요, 'hello',  "안녕하세요~!"를 입력하고 실행해보세요.
힌트 : 문자는 ' 또는 "로 감싸주어야 합니다.

In [12]:
'heppo'

'heppo'

In [15]:
print('hello')

hello

In [14]:
print("hello")

hello

In [13]:
"안녕하세요"

'안녕하세요'

### 1-2. 변수(Variable)란?

- 문자와 숫자 등을 저장하는 (메모리) 공간 또는 그릇
- 언제든지 변할 수 있는 값을 대입하여 사용

#### 변수 표시 방법 : <변수이름 = 값> 예) a = 1

- 등호(=, 할당연산자로도 함)를 기준으로 오른쪽의 값을 왼쪽의 변수이름에 대입한다는 의미다.
  - 참고로 같다는 표현은 == 을 사용 : a == 1
  - a = a+1과 a == a+1의 차이를 이해하자!
  
- 변수로 쓸 수 있는 이름 : num1, my_name, age, i
    - 변수 이름은 남들도 이해하기 쉽게 의미가 통하는 영어 단어로 정하는 것이 좋다.
- 변수로 쓸 수 **없는** 이름 : my name, 1num, if(예약어)

#### [실습3] 변수 a, b, c에 차례로 1, 2, 1+2를 대입(할당, assign)하고 결과 c를 실행해보세요.
- 힌트 : a=1, b=2, c=a+b

In [17]:
a=1
b=2
c=a+b
print(c)

3

#### 주석 처리
- 한 라인에서 #를 붙이면 그 뒤부터는 주석으로 처리하여 코드가 실행되지 않는다. 코드 설명을 할 때 주로 사용.
- 여러줄을 주석처리하려면 작은따옴표 세개로 묶어준다. 또는 컨트롤키와 /키를 동시에 눌러 묶어줄 수도 있다.

In [ ]:
#print(1+2)
'''print(2+3)
print(2+4)'''
print(2+5) 
print(2+6)

In [18]:
# print()함수를 이용해서 변수에 들어있는 값을 화면에 출력할 수 있어요.
c = 3
d = 4
e = c * d  
print(e)

12

In [20]:
# 변수 이름이나 계산식을 바로 실행할 때와 print()를 사용할 때 차이
a = 10
a = a +1
a

b = 10
b = b+2
b

print(a, b)

11 12

In [21]:
name = "Jay"
print (name) #name이란 변수에 담긴 값을 출력하라는 의미

Jay

In [22]:
print ("name") #name이라는 문자를 출력하라는 의미

name

In [23]:
# print()함수 괄호 안에 변수이름 외에, 숫자, 문자, 계산식 등을 넣어 출력할 수 있어요.
score = 100
print(name, "님은",   score, "점 입니다")

Jay 님은 100 점 입니다

In [30]:
#실습
true=True
#if = 3
#Seoul=Seoul
#Hello Python="Hello Python"

#### 문제1. 다음 중 변수사용이 올바른 것은? 
1. true = True
2. if = 3
3. Seoul = Seoul
4. Hello Python = "Hello Python"

In [24]:
# 예약어 확인하기
import keyword
print (keyword.kwlist)
len (keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

In [25]:
import this # 파이썬의 철학

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### 1-3. 데이터형 Data Type

- 정수형  int: -5, 0, 1001
- 실수형 float: 3.14, -5.00001
- 문자열형 string : "제이", 'Gil' -> 이중따옴표 또는 따옴표 모두 사용 가능
- 부울형 boolean : True와 False -> 주의! 항상 대문자로 표시
- 그 외 리스트, 튜플, 사전 등이 있다.

In [32]:
#정수형
price = 100
price = price * 3
print(price)

300

In [33]:
price = price + 100
print (price)

400

In [34]:
print (price * 10)

4000

# 문제2) 다음 코드의 실행 결과는 무엇일까요? 
price1 = 10.5 <br>
price * 3

In [37]:
price1=10.5
price*3


print(price1, price)

10.5 400

In [ ]:
price1 = 10.5
price1 * 3

In [ ]:
print(price*price1) # 400 *10.5

In [38]:
#type()를 활용하여 변수의 데이터형을 확인해볼 수 있다.
type(price)

int

In [39]:
type(price1)

float

In [40]:
#문자열에 숫자를 곱하면 곱한 수만큼 반복된다. 
hello = "Hello"
print (hello*3)

HelloHelloHello

In [41]:
star="*"
print (star*100)

****************************************************************************************************

In [43]:
# 문자열은 문자열끼리만 더할 수 있다.

s1 = "나는 "  
s2 = '살 입니다.' 
s3 = s1 + "20" + s2 
print(s3)

나는 20살 입니다.

#### [실습4] 변수 name에 "Kay", 변수 score에 50을 넣은 후, print()를 이용하여 아래 문장을 출력해보세요. 

Kay님의 점수는 50점입니다.

- 힌트
  - name = "Kay", score = 50 
  - print()함수 안에 변수와 문자열을 ,를 써서 구분하거나 
  -> (name,"님의 점수는",score,"점입니다.")
  - 문자열 + 연산을 통해 할 수 있다.

In [44]:
name ="Kay" 
score="50"
print()

In [46]:
name="kay"
score="50"
print(name,"님의 점수는",score,"입니다")

kay 님의 점수는 50 입니다

#### input() 함수
- print()함수가 화면에 출력하는 명령어라면, input()함수는 화면에 입력할 수 있게 해준다.

In [47]:
input(123) # 임의의 숫자와 문자를 입력해보세요.

123ㅇㅇ

'ㅇㅇ'

#### [실습5] 아래 코드를 실행하면 오류가 발생합니다. 어떻게 고칠 수 있을까요?

birth_year = input("당신이 태어난 년도: ") <br>
age = 2020 - birth_year <br>
print ("당신의 나이는:", age)<br>

- 힌트 : birth_year값을 int형 자료로 바꿔주어여야 연산이 가능합니다. 
  - 방법1. int(input("당신이 태어난 년도는: ")) -> 입력받을 때 정수형으로 바꾸기
  - 방법2. age = 2020 - int(birth_year) -> 계산할 때 정수형으로 바꾸기

In [53]:
birth_year = int(input("당신이 태어난 년도: "))
age = 2020 - birth_year
print ("당신의 나이는:", age)
type(birth_year),type(age)

당신이 태어난 년도: 1982
당신의 나이는: 38

(int, int)

In [54]:
birth_year = input("당신이 태어난 년도: ")
age = 2020 - int(birth_year)
print ("당신의 나이는:", age)
type(birth_year),type(age)

당신이 태어난 년도: 1982
당신의 나이는: 38

(str, int)

In [ ]:
# type(age), type(birth_year)로 확인해보세요.

In [ ]:
type()

#### 수고하셨습니다. 직접 연습을 많이 해보시기 바랍니다.