## 5. 문자열
- 문자를 큰따옴표 "" 또는 작은따옴표 ''를 사용하여 표현
- 인덱싱, 슬라이싱, +와 * 연산, in, len()을 list와 같은 방식으로 사용

In [ ]:
a = "Black Pink"
a[1]

In [ ]:
a[0:5] #0이상 5미만

In [ ]:
a[-5:-2]

In [ ]:
b = "love"
a+b

In [ ]:
a*3

In [ ]:
len(a)

In [ ]:
# in
"a" in "Black"

In [ ]:
"b" in "Black Pink"

In [ ]:
dir(str)

In [ ]:
#.upper() 대문자로 바꿔줌 #.lower는 소문자로 바꿔줌
a = "black pink"
c = a.upper()
print(c)

In [ ]:
#.split은 단어(띄어쓰기) 단위로 만들어 줌
print (a.split())

#### [실습1] 문자열 aa= "123,456,789, 안녕"을  만들고 쉼표(,)를 기준으로 문자열을 분리하여 보세요.
- 힌트 : split(',')  .

In [ ]:
phone_no = "010-9099-8755"
temp = phone_no.split('-')
temp

In [ ]:
birth_year = "71.10.22"
temp1 = birth_year.split('.')
temp1

In [ ]:
#list()는 문자열을 리스트로 만들어 줌
e = list(phone_no)
print (e)

### %와 .format, 이스케이프 (/)를 활용한 문자열 출력

#### print ("%d"  % 100)와 같은 형식

- %d : 정수에 대응
- %f : 실수에 대응
  - %.3f : 소수 셋째짜리까지 출력 
- %c : 문자나 기호 한 개에 대응
- %s : 문자열에 대응
- %% : %를 표시

#### print (안녕!\\n파이썬)과 같은 형식
- \n : Enter 키
- \t : Tab 키
- \b : Backspace 키
- \\\ : \출력
- \\': '출력
- \\" : "출력

#### format활용

- {}를 쓰고 .format 뒤에 ()괄호 안에 {}에 들어갈 값을 적는다.

In [ ]:
print (100)
print (123.456789)
print ("안녕하세요")
print (100+300)
print (100*1.1)

In [ ]:
print ("%d" % 100)

In [ ]:
print ("%d" % 100.123)

In [ ]:
a = 123.456789
print("%f" % a)
print ("%.3f" % a)

In [ ]:
b= "안녕하세요"
print ("%s" % b)

In [ ]:
print ("나는 오늘 %d번 밥을 먹었습니다. 지금 %s이 먹고 싶어요" % (3, "밥"))

In [ ]:
# 다음 코드를 변수를 활용해 완성해보세요.
time = 2
food = "chicken"
print ("나는 오늘 %d번 밥을 먹었습니다. 지금 %s이 먹고 싶어요" % )

In [ ]:
# 10 나누기 3 = 3.333이 출력되도록 %를 활용해 코드를 작성해보세요. 아래 코드 수정하기.

print ("%d 나누기 %d = %f % (10, 3, 10/3)

In [ ]:
#역슬래시\를 활용한 출력문 실습
print ("한 칸 띄고\n또 한 칸 띄고")

In [ ]:
#""\출력
print ("\"안녕\", 반가워")

#### [실습2] 비가 올 확률은 90%입니다를 %를 써서 코드를 작성해보세요.
힌트 : "%d%%" % 98

In [ ]:
print ("비가 올 확률은 " )

In [ ]:
#,end=''
print ("안녕", end='') 
print (" 친구야")

In [ ]:
print ("안녕", '', end='') 
print ("친구야")

In [ ]:
print("안녕하세요. 제 이름은 {}이고, 올해 {}살입니다." .format("길완제", 49))

In [ ]:
print("안녕하세요. 제 이름은 {0}이고, 올해 {1}살입니다." .format("길완제", 49)) 
#0과 1을 바꿔보세요.

In [ ]:
print("안녕하세요. 제 이름은 {name}이고, 올해 {age}살입니다." .format(name="길완제", age=49))

In [ ]:
print("안녕하세요. 제 이름은 {name}이고, 올해 {age}살입니다." .format(age=49, name="길완제"))