## 6. 반복문
### 6-1. while문 (조건반복)
- while 뒤에 조건을 쓰고 콜론을 붙인다. 예) while <조건식> :
- 들여쓰기 후에 참인 경우 명령문을 실행하고
- 거짓이면 while문을 빠져나온다.

In [ ]:
while 반복할 조건 :
    실행할 문장(1)
    실행할 문장(1)

In [ ]:
# while 문의 기본 형태

i = 0 # 변수선언
while i < 10 :          #while 뒤에 조건식
    print (i)           #여기까지만 쓰면 무한루프에 빠짐
    i = i + 1           #조건의 변경

In [ ]:
#연습. 1부터 10까지 모두 더한 값 출력하기

i = 1
hap = 0 
while i < 11 :
    hap = hap + i 
    i = i + 1
    print (hap)

#### [실습1] 위 코드에서 더한 값 55만 출력되게 수정해보세요.
힌트 : print (sum)의 위치를 while과 같은 곳으로 이동. 즉, 들여쓰기를 하지 않아 while문이 다 끝나고 실행되게 함.

In [1]:
i = 1
sum = 0 
while i < 11 :
    sum = sum + i 
    i = i + 1
    
print (sum)

55

In [2]:
#연습. 비밀번호 맞을 때까지 반복

pwd = "0000"

while pwd !="1234" : #!=같지 않다면
    pwd = input ("비밀번호는: ")
   # print("다시 눌러주세요")
print("어서오세요")

비밀번호는: 1256
다시 눌러주세요
비밀번호는: 1234
다시 눌러주세요
어서오세요

### 6-2. for문

- for 뒤에 변수(통상 i를 쓴다)를 적고 in 다음에 문자열, 리스트를 쓰고 콜론(:)으로 사용 
- range() 함수와 같이 사용하는 경우가 많다.
- 즉, for i in range(범위) : 또는 for i in [리스트]나 문자열 :

In [3]:
#range()와 같이 사용

for i in range(10): #0부터 9까지 10번 반복 #i는 인수변수, in 뒤에 있는 값들을 순서대로 하나씩 꺼내서 i 에 넣고 계산하다.
    print (i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [4]:
#rang()와 같이 사용
for i in range(10): #0부터 9까지 10번반ㅂㄱ
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [7]:
for i in range (0,5) : #0부터 5미만까지반복 = range(5)
    print (i, end=' ')

0 1 2 3 4

In [8]:
for i in range (1,10,2): #1부터 10미만까지 2씩 증가하며 반복
    print (i, end=' ')

1 3 5 7 9

In [12]:
#list()함수와 range()함수
aa=list(range(1,10,2))
type(aa)

list

In [13]:
for i in range (10,0,-1): # 10부터 0 전까지 1씩 감소하며 반복
    print (i, end=' ')

10 9 8 7 6 5 4 3 2 1

In [14]:
for i in range (5) :
    print ("hello")

hello
hello
hello
hello
hello

In [15]:
#i와 함께 출력
for i in range (5) :
    print (i, "hello")

0 hello
1 hello
2 hello
3 hello
4 hello

In [16]:
#문자열과 같이 사용
for letter in "Python":
    print(letter)

P
y
t
h
o
n

In [17]:
# 리스트와 같이 사용

blackpink = ["제니", "지수", "로제", "리사"]
for member in blackpink :
    print (member)

제니
지수
로제
리사

#### [실습2] 위 코드를 수정하여 멤버 수도 출력하게 하려면?

- 힌트: count 변수를 만든 후, member가 하나씩 출력되면서 반복되는 동안 count도 1씩 증가하게 한다. 
    - 아래 코드를 완성

In [20]:
blackpink = ["제니", "지수", "로제", "리사"]
count = 0  
for member in blackpink :
    print (member)
    count += 1  
print ("멤버수는: %d" % count)

제니
지수
로제
리사
멤버수는: 4

In [21]:
# 리스트, 조건문과 같이 사용
score= [55, 70, 92, 88]

number = 0 #number 변수 0으로 지정
for i in score: 
    number = number +1 
    if i >= 90: 
        print("%d번 과목은 A입니다." % number)
    elif i>=80:
        print("%d번 과목은 B입니다." % number)
    elif i>=70:
        print("%d번 과목은 C입니다." % number)
    else: 
        print("%d번 과목은 D입니다." % number)

1번 과목은 D입니다.
2번 과목은 C입니다.
3번 과목은 A입니다.
4번 과목은 B입니다.

In [22]:
#다중 for문

blackpink = ["제니", "지수", "로제", "리사"]
for member in blackpink :
    print (member)
    for name in member:
        print (name)

제니
제
니
지수
지
수
로제
로
제
리사
리
사

In [23]:
#구구단

for i in range (2,10,1):                   #2부터 9까지 반복 1씩증가
    for j in range (1,10,1):               #1부터 9까지 반복 1씩증가
        print(i, "*", j, "=",i*j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

#### [실습3] 위 구구단 코드를 수정하여 각 단이 끝날 때마다 *로 가로줄을 그어 구분이 되도록 해보세요.
 - 힌트 :  j가 9가 되면 "*"을 10번 곱하여 출력하게 한다. 
 - if j == 9 : , print ("*"*10)

In [25]:
for i in range(2,10,1):
    for j in range(1,10,1):
        print(i,"*",j,"=",i*j)
        if j==9:
            print("*"*10)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
**********
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
**********
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
**********
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
**********
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
**********
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
**********
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
**********
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
**********

#### break : 조건에 만족하면 (아무 것도 하지 말고) 반복문에서 빠져 나와라
#### continue : 조건에 만족하면 (아무 것도 하지 말고) 반복문의 처음으로 다시 돌아가서 반복해라

In [ ]:
i = 0 # 변수선언
while i < 10 :          #while 뒤에 조건식
    print (i)           #여기까지만 쓰면 무한루프에 빠짐
    i = i + 1           #조건의 변경 i+=1

In [ ]:
# 위의 식을 break를 써서 표현
i = 0
while True : #무한루프
    print(i)
    i = i +1
    if i >= 10:
        break

In [ ]:
#for와 break를 써서 1부터 9까지 차례대로 출력하는 코드

for i in range (1, 100):
    print(i)
    break

In [ ]:
#1부터 9사이의 짝수를 출력하는 코드
for i in range (1, 10):
    if i % 2 == 0 :
        print(i)

In [ ]:
#continue를 사용해서 1부터 9사이의 짝수를 출력하는 코드를 작성해보세요. 
for i in range (1, 10):
    if i % 2 != 0 :
        continue
    print(i)

In [ ]:
ReVe = ["아이린", "슬기", "웬디", "조이", "예리"]
i  = 0 
while i < 4 :
    print(ReVe[i]) 
    i = i + 1

#### [실습4] 
1. 리스트 x = [2,4,6,8]를 만든다.
2. 변수 mx를 만들어 x의 평균값을 대입한다.
3. 변수 divisor에는 (x-x평균)^2의 합을 대입한다. sum()함수를 활용해 요소들의 합을 구할 수 있다. ![image.png](attachment:image.png)
4. sum([])은 평균 mx에서 x에 있는 원소들(i)을 하나씩 뺀 값을 제곱한 후 모두 더하는 식이다. sum([(mx-i)**2] for i in x])
5. divisor값을 출력한다.

In [ ]:
x = [2,4,6,8]
mx = (2+4+6+8) / 4
print(mx)
divisor = sum([(mx - i)**2 for i in x])
print (divisor)

### list comprehension
- 리스트 안에 조건, 반복식을 한꺼번에 표현할 수 있어 간편하다.
- [표현식 for 변수 in 리스트이름] 같은 형식으로 사용

In [ ]:
bprv = [["제니","아이린"],["로제","웬디"],["리사","슬기"],["지수","조이"]]

bp = [i[0] for i in bprv]
rv = [i[1] for i in bprv]

print(bp)
print(rv)

In [ ]:
구구단 = [i*j for i in range(2,10) for j in range(1,10)]
print(구구단)

In [ ]:
# for문 뒤에 if 조건문을 추가할 수도 있다.

a = [[1,11],[2,22],[3,33],[4,44],[5,55]]
x = [i[0] for i in a if i[0] > 3]
y = [i[1] for i in a if i[1] % 2 != 0]

print(x)
print(y)