##  7. 튜플, 딕셔너리, 집합
### 7-1. 튜플 Tuple
- 튜플은 변경 불가능한 리스트로 ()로 표현한다.    
- 문자열, 리스트와 마찬가지로 인덱싱, 슬라이싱, 더하기, 곱하기, in, len() 등이 가능하다.
  - 더하기는 <튜플 +튜플>만 가능

In [ ]:
mama12= ('화사', '문별', 1,2) #다른 데이터형 저장 가능
print(type(mama12))

In [ ]:
# 튜플은 아이템을 변경할 수 없다. 
mama12[0] = '휘인'

In [ ]:
# 문자열, 리스트와 마찬가지로 인덱싱, 슬라이싱, 더하기, 곱하기, in, len() 등이 가능하다.
mama12= ('화사', '문별', 1,2)
print (mama12[3])
print (mama12[:2])
print (mama12 + ('휘인', '솔라'))
print (1 in mama12)
print (len(mama12))

### 7-2. 사전 dictionary

-  key와 value가 한 쌍인 item들로 구성, {} 중괄호로 표현
- 예) fruit = {'애플':'Apple', '바나나':'banana', '수박':'watermelon'}  .

In [ ]:
me = {"이름":"Jay", "나이":40, "키":181.4, "email":'jaygil@gmail.com'}
print(type(me))
print(len(me))                           #아이템 갯수

In [ ]:
print(me['키'])                          #해당 키에 해당하는 value를 출력

In [ ]:
me[0]  #인덱스로 접근할 수는 없다.

In [ ]:
print ("나이" in me) #해당 Key 존재여부 확인
print ("Jay" in me) #"Jay"은 key가 아니다.

In [ ]:
me = {"이름":"Jay", "나이":40, "키":181.4, "email":'jaygil@gmail.com'}
me ['전공'] = "독어독문학"           #해당 key 추가
print(me)

In [ ]:
me ['전공'] = '컴퓨터공학'
print(me)

In [ ]:
dir(dict)

In [ ]:
me.keys()

In [ ]:
# 키값들을 리스트로 만들 수 있다.
list(me.keys())

#### [실습1] 'values'와 'items'함수를 이용하여 me의 밸류와 아이템을 알아본 후 각각 me_values, me_items란 변수에 담아 출력해보세요
- 힌트 : me.values(), me.items() 사용

In [ ]:
help(dict.pop)

In [ ]:
me.pop('나이')                    #해당 인덱스 삭제
me

In [ ]:
me.clear()
me

In [ ]:
a = {1:"미국", 30:"그리스", 81:"일본", 82:"한국"}
b = {"미국":1, "그리스":30, "일본":81, "한국":82}

In [ ]:
print(a.keys())
print(b.keys())

In [ ]:
a.values()

### 7-3. 집합(set)

- 중복을 허용하지 않는다.
- 순서가 없다.
- 교집합(&), 합집합(|), 차집합(-)
- .add (값 1개 추가), .update (리스트로 여러 개 값 추가), .remove(특정값 제거)

In [ ]:
set1 = {1, 2, 3} #집합 만드는 법1
print(type(set1))

In [ ]:
set2 = set([3,4,5]) #집합 만드는 법2
print(type(s))

In [ ]:
set3 = {1,2,3,4,4,3,2,1} #중복 허용 안함
print(set3)

In [ ]:
1 in set1           # 소속 확인

In [ ]:
set1 & set2

In [ ]:
set1 | set2

In [ ]:
set1 - set2

In [ ]:
set1 + set2

In [ ]:
name = {"길", "완", "제"}

In [ ]:
name.add("님")  #님을 추가. 리스트의 .append와 비슷...단, 순서는 없다.
name

In [ ]:
name.remove("님")
name

In [ ]:
name.update(["바", "보"])
name

In [ ]:
수고하셨습니다.