##  7. 튜플, 딕셔너리, 집합
### 7-1. 튜플 Tuple
- 튜플은 변경 불가능한 리스트로 ()로 표현한다.    
- 문자열, 리스트와 마찬가지로 인덱싱, 슬라이싱, 더하기, 곱하기, in, len() 등이 가능하다.
  - 더하기는 <튜플 +튜플>만 가능

In [1]:
mama12= ('화사', '문별', 1,2) #다른 데이터형 저장 가능
print(type(mama12))

<class 'tuple'>

In [2]:
# 튜플은 아이템을 변경할 수 없다. 
mama12[0] = '휘인'

TypeError: 'tuple' object does not support item assignment

In [4]:
# 문자열, 리스트와 마찬가지로 인덱싱, 슬라이싱, 더하기, 곱하기, in, len() 등이 가능하다.
mama12= ('화사', '문별', 1,2)
print (mama12[3]) #2
print (mama12[:2]) #화사, 문별
print (mama12 + ('휘인', '솔라')) #화사 문별 1 2 휘인 솔라
print (1 in mama12) #True
print (len(mama12)) #4

2
('화사', '문별')
('화사', '문별', 1, 2, '휘인', '솔라')
True
4

### 7-2. 사전 dictionary

-  key와 value가 한 쌍인 item들로 구성, {} 중괄호로 표현
- 예) fruit = {'애플':'Apple', '바나나':'banana', '수박':'watermelon'}  .

In [5]:
me = {"이름":"Jay", "나이":40, "키":181.4, "email":'jaygil@gmail.com'}
print(type(me))
print(len(me))                           #아이템 갯수

<class 'dict'>
4

In [6]:
print(me['키'])                          #해당 키에 해당하는 value를 출력

181.4

In [7]:
me[0]  #인덱스로 접근할 수는 없다.

KeyError: 0

In [9]:
me['나이'] #나이에 들어있는 value 밸류가 나온다. 값이 나온다.

40

In [10]:
print ("나이" in me) #해당 Key 존재여부 확인
print ("Jay" in me) #"Jay"은 key가 아니다. value임

True
False

In [11]:
me = {"이름":"Jay", "나이":40, "키":181.4, "email":'jaygil@gmail.com'}
me ['전공'] = "독어독문학"           #해당 key 추가
print(me)

{'이름': 'Jay', '나이': 40, '키': 181.4, 'email': 'jaygil@gmail.com', '전공': '독어독문학'}

In [12]:
me ['전공'] = '컴퓨터공학'
print(me)

{'이름': 'Jay', '나이': 40, '키': 181.4, 'email': 'jaygil@gmail.com', '전공': '컴퓨터공학'}

In [13]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [14]:
me.keys()

dict_keys(['이름', '나이', '키', 'email', '전공'])

In [15]:
# 키값들을 리스트로 만들 수 있다.
list(me.keys())

['이름', '나이', '키', 'email', '전공']

#### [실습1] 'values'와 'items'함수를 이용하여 me의 밸류와 아이템을 알아본 후 각각 me_values, me_items란 변수에 담아 출력해보세요
- 힌트 : me.values(), me.items() 사용

In [16]:
me.values()

dict_values(['Jay', 40, 181.4, 'jaygil@gmail.com', '컴퓨터공학'])

In [17]:
me.items()

dict_items([('이름', 'Jay'), ('나이', 40), ('키', 181.4), ('email', 'jaygil@gmail.com'), ('전공', '컴퓨터공학')])

In [18]:
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

In [19]:
me.pop('나이')                    #해당 인덱스 삭제
me

{'이름': 'Jay', '키': 181.4, 'email': 'jaygil@gmail.com', '전공': '컴퓨터공학'}

In [20]:
me.clear()
me

{}

In [21]:
a = {1:"미국", 30:"그리스", 81:"일본", 82:"한국"}
b = {"미국":1, "그리스":30, "일본":81, "한국":82}

In [22]:
print(a.keys())
print(b.keys())

dict_keys([1, 30, 81, 82])
dict_keys(['미국', '그리스', '일본', '한국'])

In [23]:
a.values()

dict_values(['미국', '그리스', '일본', '한국'])

### 7-3. 집합(set)

- 중복을 허용하지 않는다.
- 순서가 없다.
- 교집합(&), 합집합(|), 차집합(-)
- .add (값 1개 추가), .update (리스트로 여러 개 값 추가), .remove(특정값 제거)

In [24]:
set1 = {1, 2, 3} #집합 만드는 법1
print(type(set1))

<class 'set'>

In [26]:
set2 = set([3,4,5]) #집합 만드는 법2
print(type(set2))

<class 'set'>

In [27]:
set3 = {1,2,3,4,4,3,2,1} #중복 허용 안함
print(set3)

{1, 2, 3, 4}

In [28]:
1 in set1           # 소속 확인

True

In [29]:
set1 & set2 #3

{3}

In [30]:
set1 | set2 #12345

{1, 2, 3, 4, 5}

In [31]:
set1 - set2 # 12

{1, 2}

In [32]:
set1 + set2 # 더하기는 없다.

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [33]:
name = {"길", "완", "제"}

In [34]:
name.add("님")  #님을 추가. 리스트의 .append와 비슷...단, 순서는 없다.
name

{'길', '님', '완', '제'}

In [35]:
name.remove("님")
name

{'길', '완', '제'}

In [36]:
name.update(["바", "보"])
name

{'길', '바', '보', '완', '제'}

In [ ]:
수고하셨습니다.